body {
    background-color: #f9f9fa;
    width: 100%;
    height: 100%;
}

h1 {
    background: -webkit-linear-gradient(left, rgb(242,81,78), rgb(86,67,200));
    background: -o-linear-gradient(right, rgb(242,81,78),  rgb(86,67,200));
    background: -moz-linear-gradient(right, rgb(242,81,78),  rgb(86,67,200));
    background: linear-gradient(to right, rgb(242,81,78),  rgb(86,67,200)); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;  
}

#fondoFoto, button {
    background: rgb(225,80,80);
background: linear-gradient(90deg, rgba(225,80,80,1) 25%, rgba(92,68,197,1) 75%);
}

.mb-1,.container-fluid {
    color: #7e70db;
}